<ul class="navbar-nav">
    @if (User.Identity!.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary me-2" href="#">Hello @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary me-2" asp-action="Logout" asp-controller="Home">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-primary me-2" asp-action="Login" asp-controller="Home">Login</a>
        </li>
    }
</ul>